body{
    background: #FFFFFF;
}

.job{
    color: #000000;
    position: absolute;
    width: 200.81px;
    height: 17px;
    left: 498px;
    top: 142px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px
}

.title{
    color: #000000;
    position: absolute;
    width: 517.12px;
    height: 45px;
    left: 498px;
    top: 178px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.forMe{
    color: #595959;
    position: absolute;
    width: 525px;
    height: 96px;
    left: 498px;
    top: 252px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.Projects{
    color: #000000;
    position: absolute;
width: 102.84px;
height: 27px;
left: 498px;
top: 412px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
}

.links{
    color: #005FFF;
    position: absolute;
width: 233.81px;
height: 72px;
left: 526.14px;
top: 447px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-decoration-line: underline;
}

.numbers{
    color: #000000;
    position: absolute;
width: 14.07px;
height: 72px;
left: 498px;
top: 447px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
}

.itLanguages{
    color: #595959;
    position: absolute;
width: 142px;
height: 72px;
left: 881px;
top: 447px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.experience{
    position: absolute;
width: 198px;
height: 27px;
left: 498px;
top: 570px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
}

.freelance{
    position: absolute;
width: 262px;
height: 20px;
left: 498px;
top: 609px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
}

span.one{
    color: #6D9BF5;
 
}

.September{
    position: absolute;
    width: 240px;
    height: 15px;
    left: 498px;
    top: 640px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.text{
    position: absolute;
width: 509px;
height: 120px;
left: 514px;
top: 663px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959; 
}

.noNamber{
    position: absolute;
width: 6px;
height: 120px;
left: 498px;
top: 663px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.manager{
    position: absolute;
    width: 249px;
    height: 40px;
    left: 498px;
    top: 799px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;    
}

span.two{
    color: #6D9BF5;
}

.march{
    position: absolute;
    width: 228px;
    height: 15px;
    left: 498px;
    top: 830px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.textTwo{
    position: absolute;
width: 509px;
height: 96px;
left: 514px;
top: 853px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.dots{
    position: absolute;
width: 6px;
height: 96px;
left: 498px;
top: 853px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.education{
    position: absolute;
width: 118px;
height: 27px;
left: 498px;
top: 1138px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
}

.bestUA{
    position: absolute;
width: 190px;
height: 40px;
left: 498px;
top: 969px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
}

span.three{
    color: #6D9BF5;
}

.june{
    position: absolute;
width: 225px;
height: 15px;
left: 498px;
top: 1000px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
}

.textThree{
    position: absolute;
width: 509px;
height: 72px;
left: 514px;
top: 1017px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 10px;
color: #595959;
}

.dotsTwo{
    position: absolute;
width: 6px;
height: 72px;
left: 498px;
top: 1023px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.Management{
    position: absolute;
width: 298px;
height: 20px;
left: 498px;
top: 1177px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #6D9BF5;
}

.Management2{
    position: absolute;
width: 99px;
height: 17px;
left: 498px;
top: 1208px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;

}

.september2{
    position: absolute;
width: 242px;
height: 15px;
left: 498px;
top: 1237px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
}

.image{
    position: absolute;
width: 370px;
height: 354px;
left: 40px;
top: 80px;

background: #B1CCFF;
}

.contacts{
    position: absolute;
width: 103px;
height: 27px;
left: 80px;
top: 485px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #161D2A;
}

.leters{
    position: absolute;
width: 26px;
height: 48px;
left: 80px;
top: 520px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #161D2A;
}

.connection{
    position: absolute;
width: 165px;
height: 48px;
left: 106px;
top: 520px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #161D2A;

}

.gmail{
    position: absolute;
width: 165px;
height: 48px;
left: 106px;
top: 543px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #2977ff;
}

.skils{
    position: absolute;
width: 121px;
height: 27px;
left: 80px;
top: 615px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #161D2A;

}

.dots3{
    position: absolute;
    width: 6px;
    height: 168px;
    left: 80px;
    top: 650px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #6D9BF5;
}

.class{
    position: absolute;
width: 72px;
height: 168px;
left: 96px;
top: 650px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 24px;

color: #161D2A;
}

.Soft{
    position: absolute;
width: 113px;
height: 27px;
left: 80px;
top: 862px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #161D2A;
}

.dots4{
    position: absolute;
width: 6px;
height: 96px;
left: 80px;
top: 897px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #6D9BF5;
}

.class2{
    position: absolute;
width: 74px;
height: 96px;
left: 96px;
top: 890px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 10px;
color: #161D2A;
}

.none{
    position: absolute;
width: 370px;
height: 1319px;
left: 40px;
top: 40px;

background: #E0EBFE;
border-radius: 0px;
}
.color-link{
    color: #005FFF;
}

.cool{
    color: #005FFF;
}
